---
---
// $primary: #3cb371;



$primary: #1f4f46;
$link: #1f4f46;
$family-primary: Helvetica;
$body-size: 16px;
$title-color: #1f2933;
$text: #2f3a45;

// Import Main CSS file from theme
@import "main";